<!doctype html>
<html ng-app="myapp">
  <head>

    <meta charset="utf-8">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- adds angular js-->
    <script src="./angular.min.js">  </script>

  <script src="robot.js"></script>
    <!-- adds firebase -->
    <script type='text/javascript' src='firebase.js'></script>

    <!-- adds angularfire bindings-->
    <script src="angularfire.min.js"></script>
    
    <!-- line-chart directive -->
    <script src="line-chart.min.js"></script>
  
  </head>
<body ng-controller="MyController">
<div style='height: 500px;'>
 <linechart data='messages' options='options'></linechart>

  </div>


<div ng-controller="MyController">

<input type="button" ng-click="addMessage(1)"  value="Move Forward"> 
<br>
<input type="button" ng-click="addMessage(2)"  value="Move Left"> 
<input type="button" ng-click="addMessage(3)"  value="Move Backwards"> 
<input type="button" ng-click="addMessage(4)"  value="Move Right"> 


<div id="messagesDiv"> <div ng-repeat="msg in messages"><em>{{msg.x}}</em>: {{msg.value}}</div>
</div>




 </div>



  </body>
</html>
